# ########## Environment & Secrets ##########
# فایل متغیرهای محیطی که حاوی تمام اطلاعات حساس است
.env

# ########## Google Cloud Credentials ##########
# نادیده گرفتن تمام فایل‌های JSON برای جلوگیری از آپلود کلیدهای دسترسی
*.json
# استثنا: این فایل حاوی پیکربندی عمومی است و حساس نیست، پس آن را نگه می‌داریم
!sites_info.json

# ########## Python ##########
# پوشه محیط مجازی پایتون
venv/
__pycache__/

# فایل‌های کامپایل شده پایتون
*.pyc
*.pyo
*.pyd

# ########## Logs ##########
# فایل‌های لاگ که به صورت خودکار ساخته می‌شوند
*.log

# ########## Database Files ##########
# فایل‌های دیتابیس محلی (برای تست‌های احتمالی با SQLite)
*.db
*.db-journal

# ########## IDE / Editor specific ##########
# فایل‌های مربوط به تنظیمات محیط‌های توسعه
.idea/
.vscode/
*.swp

# ########## Alembic ##########
# فایل‌های کش Alembic
.alembic_cache/
.DS_Store